$color-darkgrey: #323540;
$color-bluegrey: #5f657b;
$color-yellow: #d8a05f;
$color-greengold: #b7a968;
$color-lightgray: #f5f5f0;
$color-background: #ffffff;

$color-error: #ff0000;
$color-succes: #339900;
