.loaderContainer {
	.loader {
		height: 4px;
		width: 100%;
		--c: no-repeat linear-gradient(#404040 0 0);
		background: var(--c), var(--c), #737373;
		background-size: 60% 100%;
		animation: loading 2.5s ease-in-out forwards;
	}
	.loaderLogo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 16px;

		img {
			width: 100%;
			animation: slideUp 2.1s ease-in-out;
		}
	}
}

@keyframes slideUp {
	from {
		transform: translateY(99vh);
		opacity: 0;
	}
}

@keyframes loading {
	0% {
		background-position: -150% 0, -150% 0;
	}
	100% {
		background-position: 250% 0, 250% 0;
	}
}
