@use "../../Styles/Helpers/variables" as *;

.contactContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;

	.closeIcon {
		position: absolute;
		top: -5px;
		right: -5px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: $color-secundary-background;
		transition: 0.2s ease-in-out;

		&:hover {
			transform: rotate(180deg);
			scale: 1.1;
		}
	}
	.contactCard {
		text-align: center;
		padding: 20px;

		.contactInfo {
			color: $color-gray;
			div {
				margin-top: 20px;
				p:first-child {
					font-weight: 700;
				}
				p {
					a {
						color: $color-gray;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
